<nav class="topNav" style="background-color: #37a354">
  <ul>
    <li><a href="/adminHomePage">Home</a></li>
    <li><a href="/getHelpPost">Get Help Posts</a></li>
    <li><a href="/resolvedHelpPosts">Resolved Get Help Posts</a></li>
    <li><a href="/unresolvedHelpPosts">UnResolved Get Help Posts</a></li>
    <li class="right"><a href="/logout">SignOut</a></li>
    <li class="right">
      <a href="#"><img src="./UserProfileLogo.png" alt="UserProfile"
          class="userProfile" /></a>
    </li>
  </ul>
</nav>
