<nav class="topNav" style="background-color: #37a354">
  <ul>
    <li><a href="/homePage">Home</a></li>
    <li><a href="/newPost">New Post</a></li>
    <li><a href="/newGetHelp">Get Help</a></li>
    <li><a href="/postsByUser">My Posts</a></li>
    <li class="right">
      <a href="#"
        ><img src="./UserProfileLogo.png" alt="UserProfile" class="userProfile"
      /></a>
      <ul>
        <li><a href="/updateProfile">My Profile</a></li>
        <li><a href="">SignOut</a></li>
      </ul>
    </li>
  </ul>
</nav>
