<%- include('shared/header.ejs')%><%- include('shared/commonNavigation.ejs')%>

<body>
    
    <div class="container">
      <h2>Add a Post to Get Help</h2>
      <form action="raiseHelpRequest" method="post">
        <label for="title">Title of Help:</label>
        <input type="text" id="title" name="title" required />

        <label for="category">Category:</label>
        <select id="category" name="category" required>
          <option value="jobs">Full-Time Jobs</option>
          <option value="academics">Academics</option>
          <option value="accommodation">Accommodation</option>
          <option value="SocialEvents">Social Events</option>
          <option value="mentalHealth">Mental Health</option>
          <option value="part-time-jobs">Part-Time Jobs</option>
        </select>

        <label for="description">Description:</label>
        <textarea
          id="description"
          name="description"
          rows="4"
          required
        ></textarea>

        <button type="submit">GET HELP</button>
      </form>
    </div>

    <footer>
      <p>&copy; 2023 Conestoga Community. All rights reserved.</p>
    </footer>
  </body>
</html>
