<%- include('shared/header.ejs')%><%- include('shared/commonNavigation.ejs')%>

  <body>
  

    <div class="container">
      <h2>Add a New Post</h2>
      <div class="message"><%= message %></div>
      <form action="createPost" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required maxlength="50"/>

        <label for="category">Category:</label>
        <select id="category" name="category" required>
          <option value="jobs">Full-Time Jobs</option>
          <option value="academics">Academics</option>
          <option value="accommodation">Accommodation</option>
          <option value="SocialEvents">Social Events</option>
          <option value="mentalHealth">Mental Health</option>
          <option value="part-time-jobs">Part-Time Jobs</option>
        </select>

        <label for="description">Description:</label>
        <textarea
          id="description"
          name="description"
          rows="4"
          required
        ></textarea>

        <button type="submit">Submit</button>
      </form>
      <div class="formdata">
        <p id="formResult">
          <% if(typeof(errors) != 'undefined') { for(error of errors){ %> <%=
          error.msg %>
          <br />
          <%} } %>
        </p>
      </div>
    </div>

    <footer>
      <p>&copy; 2023 Conestoga Community. All rights reserved.</p>
    </footer>
  </body>
</html>
