<%- include('shared/header.ejs')%> <%- include('shared/commonNavigation.ejs')%>
  <body>
    <div class="container">
      <h2>Update Profile</h2>
      <form action="updateProfile" method="post">
        <input type="text" placeholder="First Name" name="firstName" required />
        <input type="text" placeholder="Last Name" name="lastName" required />
        <input type="email" placeholder="Email ID" name="email" required />
        <br>
        <label for="alumni">Are you an Alumni?</label>
        <select id="alumni" name="isAlumni" required>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <br>
        <button type="submit" style="width: 130px;">Update Profile</button>
      </form>
    </div>

    <footer>
      <p>&copy; 2023 Conestoga Community. All rights reserved.</p>
    </footer>
  </body>
</html>
