body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

nav ul li.right {
    float: right;
}

.container {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}
.accomodationFilter {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration:none;
    float:right;
  }
  .container{
    margin-top: 50px;
  }
  /* sub menu*/
nav ul li ul{
    width: 250px;
    position: absolute;/* sub menu in sepearate layer*/
    z-index: 999; 
    text-align: left;
    background-color: grey;
    color: black;
}
/* <a> in sub menu*/
nav ul li ul li a{
    color: black;
    padding: 9px;
    display: block;/* for amking the hover giving good exp,*/
}

/* hover over the <a> of sub menu*/
nav ul li ul li:hover a:hover{
/* 
background-color: black; */
}
nav ul li ul{
    display: none;/* hides sub menu by default*/
}
nav ul li:hover ul{
    display: block;/* show the sub menu when a user brings their mouse over the parent <li> */
}
