body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}
.companyAbout{
    text-align: center;
}
.companyAbout p{
    text-align: center;
    width: 700px;
    margin-left: 270px;
    font-weight: 500;
    font-size: larger;
    color: revert;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}
.userProfile{
    width: 30px;
    height: 30px;

}

h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
}

.topNav {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    font-weight: bold;
    font-size: large;
}

nav ul li a {
    color: #171818;
    padding: 10px;
    text-decoration: none;
}

nav ul li.right {
    float: right;
}


.container {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 5px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: fit-content;
    margin-top: 10px;
    padding: 10px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
    height: 50px;
}
.accomodationFilter {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration:none;
    float:right;
}

  .container{
    margin-top: 50px;
  }
  /* sub menu*/
nav ul li ul{
    width: 250px;
    position: absolute;
    z-index: 999; 
    text-align: left;
    background-color: grey;
    color: black;
}
/* <a> in sub menu*/
nav ul li ul li a{
    color: black;
    padding: 9px;
    display: block; 
}

/* hover over the <a> of sub menu*/
nav ul li ul li:hover a:hover{
/* 
background-color: black; */
}
nav ul li ul{
    display: none;/* hides sub menu by default*/
}
nav ul li:hover ul{
    display: block;/* show the sub menu when a user brings their mouse over the parent <li> */
}


/*
Signup error
*/
.message {
    color: #dc3545;
    font-weight: bold;
  }

  /*
  Unresolved post
  */
  .resolve{
    width: 90px;
    padding: 5px;
    background-color: #0b0c0b;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    border-radius: 5px;
  }

  .posts{
    margin-top: 20px;
    border: 1px solid black !important;
    border-radius: 10px;
  }
  
#formResult{
    color: red;
    font-size: 20px;
    text-align: center;

}