body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  header .header-content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
  }
  
  .userDetails {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form,
  .signup-form {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    width: 490px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h3 {
    margin-top: 0;
  }
  
  input,
  select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  footer {
    background-color: #fafafa;
    text-align: center;
    padding: 10px;
  }
  
.accomodationFilter {
    text-decoration:none;
    float:right;
  }